@import "reset.css"
@import "mixins.styl"
#app
  width 100%
  height 100%
  #content
    width 100%
    height 100%
    padding-bottom 50px
    padding-top 45px
    box-sizing border-box
    background-color #dddddd
    .main
      display none
      &.show
        display block
    #header
      width 100%
      height 45px
      position fixed
      left 0
      top 0
      background-color #02a774
      display flex
      justify-content space-around
      align-items center
      color white
      .iconfont
        font-size 25px
      .address
        font-size 20px
        width 188px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
      #login
        display flex
        font-size 15px
    .swiper-container
      width 100%
      height 200px
      background-color white
      .swiper-pagination-bullet-active
        background-color #02a774
      .swiper-slide
        display flex
        flex-wrap wrap
        .sliderItem
          display flex
          flex-direction column
          align-items center
          justify-content space-around
          width 25%
          height 72px
          img
            width 50px
            height 50px
          span
            font-size 13px
            color #7e8c8d
    .shop
      width 100%
      height 365px
      background-color white
      margin-top 10px
      padding 0 10px
      box-sizing border-box
      div
        display flex
        height 30px
        .shop-text
          width 100%
          height 30px
          line-height 30px
          color #7e8c8d
          padding-left 5px
        .shop-icon
          height 30px
          line-height 30px
          color #7e8c8d
          font-size 18px
      .shop-list
        overflow hidden
        width 100%
        height 30%
        box-sizing border-box
        padding-top 10px
        display flex
        .shop-left
          img
            width 75px
            height 75px
      .shop-middle
        margin-left 5px
        display flex
        flex-direction column
        .shop-middle-top
          display flex
          &::before
            content '品牌'
            display inline-block
            font-size 11px
            line-height 11px
            height 11px
            color #333
            background-color #ffd930
            padding 2px 2px
            border-radius 2px
            margin-right 5px
          .shop-middle-text
            width 80px
            white-space nowrap
            color black
            font-weight bold
            font-size 16px
        .shop-middle-bottom
          padding-top 10px
          font-size 14px
      .shop-right
        font-size 12px
        display flex
        flex-direction column
        .shop-right-top
          margin-bottom 20px
          margin-left 60px
          .shop-right-topA
            font-size 14px
            display block
            width 14px
            height 14px
            border 1px solid #dddddd
            margin 0 3px
        .shop-right-bottom
          margin-left 33px
          .shop-right-bottomA
            width 50px
            height 20px
            line-height 20px
            text-align center
            background-color #02a774
            color white
            font-weight bold
            margin-right 8px
          .shop-right-bottomB
            width 40px
            height 20px
            line-height 20px
            text-align center
            box-sizing border-box
            border 1px solid #02a774
            color #02a774
    .shop_rating
      .shopItem
        padding 10px 0
        .starList
          display flex
          .star
            width 10px
            height 10px
            background-image url(../images/stars/star_off@2x.png)
            background-size 100% 100%
            &.on
              background-image url("../images/stars/star_on@2x.png")
            &.half
              background-image url("../images/stars/star_half@2x.png")
        .rating
          font-size 14px
        .text
          font-size 12px
  #footer
    top-border-1px(#02a774)
    width 100%
    height 50px
    position fixed
    left 0px
    bottom 0px
    display flex
    background-color white
    .footerItem
      width 25%
      height 100%
      display flex
      flex-direction column
      align-items center
      justify-content center
      color #7e8c8d
      &.active
        color green
      .iconfont
        font-size 22px
      span
        font-size 12px

